<h1>Create a Team and Heroes!</h1>
<br />
<form action="/teams" method="POST">
  <p>
    <label for="team[name]">Team Name:</label>
    <input type="text" id="team[name]" name="team[name]">
  </p>
  <p>
    <label for="team[motto]">Team Motto:</label>
    <input type="text" id="team[motto]" name="team[motto]">
  </p>
  <h2>Hero 1</h2>
  <br />
  <p>
    <label for="team[heroes][][name]">Hero's Name:</label>
    <input type="text" id="team[heroes][][name]" name="team[heroes][][name]">
  </p>
  <p>
    <label for="team[heroes][][power]">Hero's Power:</label>
    <input type="text" id="team[heroes][][power]" name="team[heroes][][power]">
  </p>
  <p>
    <label for="team[name]">Hero's Biography:</label>
    <input type="text" id="team[name]" name="team[name]">
  </p>

</form>
